body {
    background-color: #f5f5f5;
    text-rendering: optimizelegibility;
    font-size: 16px;
    color: #333;
    line-height: 1.5em;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-family: varela round,sans-serif;
    margin: 0;
}

div.fixMsg {
    white-space: nowrap;
}

/*div.fixMsg span{*/
    /*font-size: 16px;*/
/*}*/

span.divider {
    display: none;
}

span.Fg123{
    color: lightskyblue;
}


div.top-strip {
    background-color: #6db63f;
    font-size: 0.2em;
    line-height: 1em;
}

div.header {
    background-color: #34302d;
    padding: 1em 1em 1em 1em;
}

div.header span {
    font: 24px/normal 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    margin: 0;
    color: white;
    padding: 0;
}

div.content {
    margin: 12px;
}

body div.footer {
    background-color: #333;
    padding: 0.2em 1em 0.2em 1em;
    font: 10px/normal 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    color: white;
}

div.console {
    white-space: nowrap;
    font: 12px/normal 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    #font: 11px 'andale mono','lucida console',monospace;
    background-color: #333;
    color: white;
    padding: 0.5em;
    overflow: auto;
    text-rendering: optimizelegibility;
}

table.doc-table td, table.doc-table th {
    #white-space: nowrap;
    font: 12px/normal 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    background-color: #333;
    color: white;
    padding: 0.5em;
    overflow: auto;
    text-rendering: optimizelegibility;
    text-align: left;
}

table.doc-table th {
    font-weight: bold;
    font-family: varela round,sans-serif;
    font-size: 15px;
}

table.color256-table td {
    font: 12px/normal 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    padding: 0.2em;
}

.bold { font-weight: bold; }


div.console span.field span {
    opacity: 0.7;
}

div.console span.field span.bold {
    opacity: 1.0;
    font-weight: normal;
}

div.fixMsg span {
    padding: 0;
    margin: 0;
}

#toc a {
    color: #34302d;
}

h1 {
    border-top: 4px solid #6db63f;
}

h1 a {
    font-family: Montserrat,sans-serif;
    color: #34302d;
    text-rendering: optimizelegibility;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding-top: 0.4em;
}


h2 {
    font-family: Montserrat,sans-serif;
    color: #34302d;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 17.5px;
    text-rendering: optimizelegibility;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0.2em;
}

h2 a {
    font-family: Montserrat,sans-serif;
    color: #34302d;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 17.5px;
    text-rendering: optimizelegibility;
    text-decoration: none;
    margin: 0;
}

h3 {
    font-family: Montserrat,sans-serif;
    color: #34302d;
    font-weight: 700;
    line-height: 1.5em;
    font-size: 15px;
    text-rendering: optimizelegibility;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0.2em;
}

h3 a {
    font-family: Montserrat,sans-serif;
    color: #34302d;
    font-weight: 700;
    line-height: 1.5em;
    font-size: 17px;
    text-rendering: optimizelegibility;
    text-decoration: none;
    margin: 0;
}

div.example-description {
    margin-top: 1.5em;
    border-top: 1px dashed gray;
    padding-top: 0.5em;
}

div.example-arguments, div.option h2, div.option h2 a{
    font-family: 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    font-size: 14px;
    text-transform: none;
    text-rendering: optimizelegibility;
    font-weight: bold;
    line-height: 2em;
}


div.example-list h2, div.example-list h2 a{
    font-family: 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    font-size: 14px;
    text-transform: none;
    text-rendering: optimizelegibility;
    font-weight: bold;
    line-height: 2em;
}


div.option h2 a{
    margin-bottom: 1.0em;
}

div.option {
    margin-top: 0.5em;
    border-top: 1px dashed gray;
    padding-top: 0;
    padding-bottom: 1.0em;
}

ul {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

span.color-demo span {
    margin-right: 0.2em;
    font-family: 'Consolas', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace;
    font-size: 14px;
    text-rendering: optimizelegibility;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

.FgBlack{ color: black; }
.FgRed{ color: red; }
.FgGreen{ color: green; }
.FgYellow{ color: yellow; }
.FgBlue{ color: blue; }
.FgPurple{ color: purple; }
.FgCyan{ color: cyan; }
.FgWhite{ color: white; }
.FgGray{ color: gray; }
.FgBrightRed{ color: red; font-weight: bold; }
.FgBrightGreen{ color: green; font-weight: bold; }
.FgBrightYellow{ color: yellow; font-weight: bold; }
.FgBrightBlue{ color: blue; font-weight: bold; }
.FgBrightMagenta{ color: magenta; font-weight: bold; }
.FgBrightCyan{ color: cyan; font-weight: bold; }
.FgBrightWhite{ color: white; font-weight: bold; }


.BgBlack{ background-color: black; }
.BgRed{ background-color: red; }
.BgGreen{ background-color: green; }
.BgYellow{ background-color: yellow; }
.BgBlue{ background-color: blue; }
.BgPurple{ background-color: purple; }
.BgCyan{ background-color: cyan; }
.BgWhite{ background-color: white; }
.BgGray{ background-color: gray; }
.BgBrightRed{ background-color: red; }
.BgBrightGreen{ background-color: green; }
.BgBrightYellow{ background-color: yellow; }
.BgBrightBlue{ background-color: blue; }
.BgBrightMagenta{ background-color: magenta; }
.BgBrightCyan{ background-color: cyan; }
.BgBrightWhite{ background-color: white; }


.Fg0{ color: #000000; }
.Fg1{ color: #800000; }
.Fg2{ color: #008000; }
.Fg3{ color: #808000; }
.Fg4{ color: #000080; }
.Fg5{ color: #800080; }
.Fg6{ color: #008080; }
.Fg7{ color: #c0c0c0; }
.Fg8{ color: #808080; }
.Fg9{ color: #ff0000; }
.Fg10{ color: #00ff00; }
.Fg11{ color: #ffff00; }
.Fg12{ color: #0000ff; }
.Fg13{ color: #ff00ff; }
.Fg14{ color: #00ffff; }
.Fg15{ color: #ffffff; }
.Fg16{ color: #000000; }
.Fg17{ color: #00005f; }
.Fg18{ color: #000087; }
.Fg19{ color: #0000af; }
.Fg20{ color: #0000d7; }
.Fg21{ color: #0000ff; }
.Fg22{ color: #005f00; }
.Fg23{ color: #005f5f; }
.Fg24{ color: #005f87; }
.Fg25{ color: #005faf; }
.Fg26{ color: #005fd7; }
.Fg27{ color: #005fff; }
.Fg28{ color: #008700; }
.Fg29{ color: #00875f; }
.Fg30{ color: #008787; }
.Fg31{ color: #0087af; }
.Fg32{ color: #0087d7; }
.Fg33{ color: #0087ff; }
.Fg34{ color: #00af00; }
.Fg35{ color: #00af5f; }
.Fg36{ color: #00af87; }
.Fg37{ color: #00afaf; }
.Fg38{ color: #00afd7; }
.Fg39{ color: #00afff; }
.Fg40{ color: #00d700; }
.Fg41{ color: #00d75f; }
.Fg42{ color: #00d787; }
.Fg43{ color: #00d7af; }
.Fg44{ color: #00d7d7; }
.Fg45{ color: #00d7ff; }
.Fg46{ color: #00ff00; }
.Fg47{ color: #00ff5f; }
.Fg48{ color: #00ff87; }
.Fg49{ color: #00ffaf; }
.Fg50{ color: #00ffd7; }
.Fg51{ color: #00ffff; }
.Fg52{ color: #5f0000; }
.Fg53{ color: #5f005f; }
.Fg54{ color: #5f0087; }
.Fg55{ color: #5f00af; }
.Fg56{ color: #5f00d7; }
.Fg57{ color: #5f00ff; }
.Fg58{ color: #5f5f00; }
.Fg59{ color: #5f5f5f; }
.Fg60{ color: #5f5f87; }
.Fg61{ color: #5f5faf; }
.Fg62{ color: #5f5fd7; }
.Fg63{ color: #5f5fff; }
.Fg64{ color: #5f8700; }
.Fg65{ color: #5f875f; }
.Fg66{ color: #5f8787; }
.Fg67{ color: #5f87af; }
.Fg68{ color: #5f87d7; }
.Fg69{ color: #5f87ff; }
.Fg70{ color: #5faf00; }
.Fg71{ color: #5faf5f; }
.Fg72{ color: #5faf87; }
.Fg73{ color: #5fafaf; }
.Fg74{ color: #5fafd7; }
.Fg75{ color: #5fafff; }
.Fg76{ color: #5fd700; }
.Fg77{ color: #5fd75f; }
.Fg78{ color: #5fd787; }
.Fg79{ color: #5fd7af; }
.Fg80{ color: #5fd7d7; }
.Fg81{ color: #5fd7ff; }
.Fg82{ color: #5fff00; }
.Fg83{ color: #5fff5f; }
.Fg84{ color: #5fff87; }
.Fg85{ color: #5fffaf; }
.Fg86{ color: #5fffd7; }
.Fg87{ color: #5fffff; }
.Fg88{ color: #870000; }
.Fg89{ color: #87005f; }
.Fg90{ color: #870087; }
.Fg91{ color: #8700af; }
.Fg92{ color: #8700d7; }
.Fg93{ color: #8700ff; }
.Fg94{ color: #875f00; }
.Fg95{ color: #875f5f; }
.Fg96{ color: #875f87; }
.Fg97{ color: #875faf; }
.Fg98{ color: #875fd7; }
.Fg99{ color: #875fff; }
.Fg100{ color: #878700; }
.Fg101{ color: #87875f; }
.Fg102{ color: #878787; }
.Fg103{ color: #8787af; }
.Fg104{ color: #8787d7; }
.Fg105{ color: #8787ff; }
.Fg106{ color: #87af00; }
.Fg107{ color: #87af5f; }
.Fg108{ color: #87af87; }
.Fg109{ color: #87afaf; }
.Fg110{ color: #87afd7; }
.Fg111{ color: #87afff; }
.Fg112{ color: #87d700; }
.Fg113{ color: #87d75f; }
.Fg114{ color: #87d787; }
.Fg115{ color: #87d7af; }
.Fg116{ color: #87d7d7; }
.Fg117{ color: #87d7ff; }
.Fg118{ color: #87ff00; }
.Fg119{ color: #87ff5f; }
.Fg120{ color: #87ff87; }
.Fg121{ color: #87ffaf; }
.Fg122{ color: #87ffd7; }
.Fg123{ color: #87ffff; }
.Fg124{ color: #af0000; }
.Fg125{ color: #af005f; }
.Fg126{ color: #af0087; }
.Fg127{ color: #af00af; }
.Fg128{ color: #af00d7; }
.Fg129{ color: #af00ff; }
.Fg130{ color: #af5f00; }
.Fg131{ color: #af5f5f; }
.Fg132{ color: #af5f87; }
.Fg133{ color: #af5faf; }
.Fg134{ color: #af5fd7; }
.Fg135{ color: #af5fff; }
.Fg136{ color: #af8700; }
.Fg137{ color: #af875f; }
.Fg138{ color: #af8787; }
.Fg139{ color: #af87af; }
.Fg140{ color: #af87d7; }
.Fg141{ color: #af87ff; }
.Fg142{ color: #afaf00; }
.Fg143{ color: #afaf5f; }
.Fg144{ color: #afaf87; }
.Fg145{ color: #afafaf; }
.Fg146{ color: #afafd7; }
.Fg147{ color: #afafff; }
.Fg148{ color: #afd700; }
.Fg149{ color: #afd75f; }
.Fg150{ color: #afd787; }
.Fg151{ color: #afd7af; }
.Fg152{ color: #afd7d7; }
.Fg153{ color: #afd7ff; }
.Fg154{ color: #afff00; }
.Fg155{ color: #afff5f; }
.Fg156{ color: #afff87; }
.Fg157{ color: #afffaf; }
.Fg158{ color: #afffd7; }
.Fg159{ color: #afffff; }
.Fg160{ color: #d70000; }
.Fg161{ color: #d7005f; }
.Fg162{ color: #d70087; }
.Fg163{ color: #d700af; }
.Fg164{ color: #d700d7; }
.Fg165{ color: #d700ff; }
.Fg166{ color: #d75f00; }
.Fg167{ color: #d75f5f; }
.Fg168{ color: #d75f87; }
.Fg169{ color: #d75faf; }
.Fg170{ color: #d75fd7; }
.Fg171{ color: #d75fff; }
.Fg172{ color: #d78700; }
.Fg173{ color: #d7875f; }
.Fg174{ color: #d78787; }
.Fg175{ color: #d787af; }
.Fg176{ color: #d787d7; }
.Fg177{ color: #d787ff; }
.Fg178{ color: #d7af00; }
.Fg179{ color: #d7af5f; }
.Fg180{ color: #d7af87; }
.Fg181{ color: #d7afaf; }
.Fg182{ color: #d7afd7; }
.Fg183{ color: #d7afff; }
.Fg184{ color: #d7d700; }
.Fg185{ color: #d7d75f; }
.Fg186{ color: #d7d787; }
.Fg187{ color: #d7d7af; }
.Fg188{ color: #d7d7d7; }
.Fg189{ color: #d7d7ff; }
.Fg190{ color: #d7ff00; }
.Fg191{ color: #d7ff5f; }
.Fg192{ color: #d7ff87; }
.Fg193{ color: #d7ffaf; }
.Fg194{ color: #d7ffd7; }
.Fg195{ color: #d7ffff; }
.Fg196{ color: #ff0000; }
.Fg197{ color: #ff005f; }
.Fg198{ color: #ff0087; }
.Fg199{ color: #ff00af; }
.Fg200{ color: #ff00d7; }
.Fg201{ color: #ff00ff; }
.Fg202{ color: #ff5f00; }
.Fg203{ color: #ff5f5f; }
.Fg204{ color: #ff5f87; }
.Fg205{ color: #ff5faf; }
.Fg206{ color: #ff5fd7; }
.Fg207{ color: #ff5fff; }
.Fg208{ color: #ff8700; }
.Fg209{ color: #ff875f; }
.Fg210{ color: #ff8787; }
.Fg211{ color: #ff87af; }
.Fg212{ color: #ff87d7; }
.Fg213{ color: #ff87ff; }
.Fg214{ color: #ffaf00; }
.Fg215{ color: #ffaf5f; }
.Fg216{ color: #ffaf87; }
.Fg217{ color: #ffafaf; }
.Fg218{ color: #ffafd7; }
.Fg219{ color: #ffafff; }
.Fg220{ color: #ffd700; }
.Fg221{ color: #ffd75f; }
.Fg222{ color: #ffd787; }
.Fg223{ color: #ffd7af; }
.Fg224{ color: #ffd7d7; }
.Fg225{ color: #ffd7ff; }
.Fg226{ color: #ffff00; }
.Fg227{ color: #ffff5f; }
.Fg228{ color: #ffff87; }
.Fg229{ color: #ffffaf; }
.Fg230{ color: #ffffd7; }
.Fg231{ color: #ffffff; }
.Fg232{ color: #080808; }
.Fg233{ color: #121212; }
.Fg234{ color: #1c1c1c; }
.Fg235{ color: #262626; }
.Fg236{ color: #303030; }
.Fg237{ color: #3a3a3a; }
.Fg238{ color: #444444; }
.Fg239{ color: #4e4e4e; }
.Fg240{ color: #585858; }
.Fg241{ color: #626262; }
.Fg242{ color: #6c6c6c; }
.Fg243{ color: #767676; }
.Fg244{ color: #808080; }
.Fg245{ color: #8a8a8a; }
.Fg246{ color: #949494; }
.Fg247{ color: #9e9e9e; }
.Fg248{ color: #a8a8a8; }
.Fg249{ color: #b2b2b2; }
.Fg250{ color: #bcbcbc; }
.Fg251{ color: #c6c6c6; }
.Fg252{ color: #d0d0d0; }
.Fg253{ color: #dadada; }
.Fg254{ color: #e4e4e4; }
.Fg255{ color: #eeeeee; }

.Bg0{ background-color: #000000; }
.Bg1{ background-color: #800000; }
.Bg2{ background-color: #008000; }
.Bg3{ background-color: #808000; }
.Bg4{ background-color: #000080; }
.Bg5{ background-color: #800080; }
.Bg6{ background-color: #008080; }
.Bg7{ background-color: #c0c0c0; }
.Bg8{ background-color: #808080; }
.Bg9{ background-color: #ff0000; }
.Bg10{ background-color: #00ff00; }
.Bg11{ background-color: #ffff00; }
.Bg12{ background-color: #0000ff; }
.Bg13{ background-color: #ff00ff; }
.Bg14{ background-color: #00ffff; }
.Bg15{ background-color: #ffffff; }
.Bg16{ background-color: #000000; }
.Bg17{ background-color: #00005f; }
.Bg18{ background-color: #000087; }
.Bg19{ background-color: #0000af; }
.Bg20{ background-color: #0000d7; }
.Bg21{ background-color: #0000ff; }
.Bg22{ background-color: #005f00; }
.Bg23{ background-color: #005f5f; }
.Bg24{ background-color: #005f87; }
.Bg25{ background-color: #005faf; }
.Bg26{ background-color: #005fd7; }
.Bg27{ background-color: #005fff; }
.Bg28{ background-color: #008700; }
.Bg29{ background-color: #00875f; }
.Bg30{ background-color: #008787; }
.Bg31{ background-color: #0087af; }
.Bg32{ background-color: #0087d7; }
.Bg33{ background-color: #0087ff; }
.Bg34{ background-color: #00af00; }
.Bg35{ background-color: #00af5f; }
.Bg36{ background-color: #00af87; }
.Bg37{ background-color: #00afaf; }
.Bg38{ background-color: #00afd7; }
.Bg39{ background-color: #00afff; }
.Bg40{ background-color: #00d700; }
.Bg41{ background-color: #00d75f; }
.Bg42{ background-color: #00d787; }
.Bg43{ background-color: #00d7af; }
.Bg44{ background-color: #00d7d7; }
.Bg45{ background-color: #00d7ff; }
.Bg46{ background-color: #00ff00; }
.Bg47{ background-color: #00ff5f; }
.Bg48{ background-color: #00ff87; }
.Bg49{ background-color: #00ffaf; }
.Bg50{ background-color: #00ffd7; }
.Bg51{ background-color: #00ffff; }
.Bg52{ background-color: #5f0000; }
.Bg53{ background-color: #5f005f; }
.Bg54{ background-color: #5f0087; }
.Bg55{ background-color: #5f00af; }
.Bg56{ background-color: #5f00d7; }
.Bg57{ background-color: #5f00ff; }
.Bg58{ background-color: #5f5f00; }
.Bg59{ background-color: #5f5f5f; }
.Bg60{ background-color: #5f5f87; }
.Bg61{ background-color: #5f5faf; }
.Bg62{ background-color: #5f5fd7; }
.Bg63{ background-color: #5f5fff; }
.Bg64{ background-color: #5f8700; }
.Bg65{ background-color: #5f875f; }
.Bg66{ background-color: #5f8787; }
.Bg67{ background-color: #5f87af; }
.Bg68{ background-color: #5f87d7; }
.Bg69{ background-color: #5f87ff; }
.Bg70{ background-color: #5faf00; }
.Bg71{ background-color: #5faf5f; }
.Bg72{ background-color: #5faf87; }
.Bg73{ background-color: #5fafaf; }
.Bg74{ background-color: #5fafd7; }
.Bg75{ background-color: #5fafff; }
.Bg76{ background-color: #5fd700; }
.Bg77{ background-color: #5fd75f; }
.Bg78{ background-color: #5fd787; }
.Bg79{ background-color: #5fd7af; }
.Bg80{ background-color: #5fd7d7; }
.Bg81{ background-color: #5fd7ff; }
.Bg82{ background-color: #5fff00; }
.Bg83{ background-color: #5fff5f; }
.Bg84{ background-color: #5fff87; }
.Bg85{ background-color: #5fffaf; }
.Bg86{ background-color: #5fffd7; }
.Bg87{ background-color: #5fffff; }
.Bg88{ background-color: #870000; }
.Bg89{ background-color: #87005f; }
.Bg90{ background-color: #870087; }
.Bg91{ background-color: #8700af; }
.Bg92{ background-color: #8700d7; }
.Bg93{ background-color: #8700ff; }
.Bg94{ background-color: #875f00; }
.Bg95{ background-color: #875f5f; }
.Bg96{ background-color: #875f87; }
.Bg97{ background-color: #875faf; }
.Bg98{ background-color: #875fd7; }
.Bg99{ background-color: #875fff; }
.Bg100{ background-color: #878700; }
.Bg101{ background-color: #87875f; }
.Bg102{ background-color: #878787; }
.Bg103{ background-color: #8787af; }
.Bg104{ background-color: #8787d7; }
.Bg105{ background-color: #8787ff; }
.Bg106{ background-color: #87af00; }
.Bg107{ background-color: #87af5f; }
.Bg108{ background-color: #87af87; }
.Bg109{ background-color: #87afaf; }
.Bg110{ background-color: #87afd7; }
.Bg111{ background-color: #87afff; }
.Bg112{ background-color: #87d700; }
.Bg113{ background-color: #87d75f; }
.Bg114{ background-color: #87d787; }
.Bg115{ background-color: #87d7af; }
.Bg116{ background-color: #87d7d7; }
.Bg117{ background-color: #87d7ff; }
.Bg118{ background-color: #87ff00; }
.Bg119{ background-color: #87ff5f; }
.Bg120{ background-color: #87ff87; }
.Bg121{ background-color: #87ffaf; }
.Bg122{ background-color: #87ffd7; }
.Bg123{ background-color: #87ffff; }
.Bg124{ background-color: #af0000; }
.Bg125{ background-color: #af005f; }
.Bg126{ background-color: #af0087; }
.Bg127{ background-color: #af00af; }
.Bg128{ background-color: #af00d7; }
.Bg129{ background-color: #af00ff; }
.Bg130{ background-color: #af5f00; }
.Bg131{ background-color: #af5f5f; }
.Bg132{ background-color: #af5f87; }
.Bg133{ background-color: #af5faf; }
.Bg134{ background-color: #af5fd7; }
.Bg135{ background-color: #af5fff; }
.Bg136{ background-color: #af8700; }
.Bg137{ background-color: #af875f; }
.Bg138{ background-color: #af8787; }
.Bg139{ background-color: #af87af; }
.Bg140{ background-color: #af87d7; }
.Bg141{ background-color: #af87ff; }
.Bg142{ background-color: #afaf00; }
.Bg143{ background-color: #afaf5f; }
.Bg144{ background-color: #afaf87; }
.Bg145{ background-color: #afafaf; }
.Bg146{ background-color: #afafd7; }
.Bg147{ background-color: #afafff; }
.Bg148{ background-color: #afd700; }
.Bg149{ background-color: #afd75f; }
.Bg150{ background-color: #afd787; }
.Bg151{ background-color: #afd7af; }
.Bg152{ background-color: #afd7d7; }
.Bg153{ background-color: #afd7ff; }
.Bg154{ background-color: #afff00; }
.Bg155{ background-color: #afff5f; }
.Bg156{ background-color: #afff87; }
.Bg157{ background-color: #afffaf; }
.Bg158{ background-color: #afffd7; }
.Bg159{ background-color: #afffff; }
.Bg160{ background-color: #d70000; }
.Bg161{ background-color: #d7005f; }
.Bg162{ background-color: #d70087; }
.Bg163{ background-color: #d700af; }
.Bg164{ background-color: #d700d7; }
.Bg165{ background-color: #d700ff; }
.Bg166{ background-color: #d75f00; }
.Bg167{ background-color: #d75f5f; }
.Bg168{ background-color: #d75f87; }
.Bg169{ background-color: #d75faf; }
.Bg170{ background-color: #d75fd7; }
.Bg171{ background-color: #d75fff; }
.Bg172{ background-color: #d78700; }
.Bg173{ background-color: #d7875f; }
.Bg174{ background-color: #d78787; }
.Bg175{ background-color: #d787af; }
.Bg176{ background-color: #d787d7; }
.Bg177{ background-color: #d787ff; }
.Bg178{ background-color: #d7af00; }
.Bg179{ background-color: #d7af5f; }
.Bg180{ background-color: #d7af87; }
.Bg181{ background-color: #d7afaf; }
.Bg182{ background-color: #d7afd7; }
.Bg183{ background-color: #d7afff; }
.Bg184{ background-color: #d7d700; }
.Bg185{ background-color: #d7d75f; }
.Bg186{ background-color: #d7d787; }
.Bg187{ background-color: #d7d7af; }
.Bg188{ background-color: #d7d7d7; }
.Bg189{ background-color: #d7d7ff; }
.Bg190{ background-color: #d7ff00; }
.Bg191{ background-color: #d7ff5f; }
.Bg192{ background-color: #d7ff87; }
.Bg193{ background-color: #d7ffaf; }
.Bg194{ background-color: #d7ffd7; }
.Bg195{ background-color: #d7ffff; }
.Bg196{ background-color: #ff0000; }
.Bg197{ background-color: #ff005f; }
.Bg198{ background-color: #ff0087; }
.Bg199{ background-color: #ff00af; }
.Bg200{ background-color: #ff00d7; }
.Bg201{ background-color: #ff00ff; }
.Bg202{ background-color: #ff5f00; }
.Bg203{ background-color: #ff5f5f; }
.Bg204{ background-color: #ff5f87; }
.Bg205{ background-color: #ff5faf; }
.Bg206{ background-color: #ff5fd7; }
.Bg207{ background-color: #ff5fff; }
.Bg208{ background-color: #ff8700; }
.Bg209{ background-color: #ff875f; }
.Bg210{ background-color: #ff8787; }
.Bg211{ background-color: #ff87af; }
.Bg212{ background-color: #ff87d7; }
.Bg213{ background-color: #ff87ff; }
.Bg214{ background-color: #ffaf00; }
.Bg215{ background-color: #ffaf5f; }
.Bg216{ background-color: #ffaf87; }
.Bg217{ background-color: #ffafaf; }
.Bg218{ background-color: #ffafd7; }
.Bg219{ background-color: #ffafff; }
.Bg220{ background-color: #ffd700; }
.Bg221{ background-color: #ffd75f; }
.Bg222{ background-color: #ffd787; }
.Bg223{ background-color: #ffd7af; }
.Bg224{ background-color: #ffd7d7; }
.Bg225{ background-color: #ffd7ff; }
.Bg226{ background-color: #ffff00; }
.Bg227{ background-color: #ffff5f; }
.Bg228{ background-color: #ffff87; }
.Bg229{ background-color: #ffffaf; }
.Bg230{ background-color: #ffffd7; }
.Bg231{ background-color: #ffffff; }
.Bg232{ background-color: #080808; }
.Bg233{ background-color: #121212; }
.Bg234{ background-color: #1c1c1c; }
.Bg235{ background-color: #262626; }
.Bg236{ background-color: #303030; }
.Bg237{ background-color: #3a3a3a; }
.Bg238{ background-color: #444444; }
.Bg239{ background-color: #4e4e4e; }
.Bg240{ background-color: #585858; }
.Bg241{ background-color: #626262; }
.Bg242{ background-color: #6c6c6c; }
.Bg243{ background-color: #767676; }
.Bg244{ background-color: #808080; }
.Bg245{ background-color: #8a8a8a; }
.Bg246{ background-color: #949494; }
.Bg247{ background-color: #9e9e9e; }
.Bg248{ background-color: #a8a8a8; }
.Bg249{ background-color: #b2b2b2; }
.Bg250{ background-color: #bcbcbc; }
.Bg251{ background-color: #c6c6c6; }
.Bg252{ background-color: #d0d0d0; }
.Bg253{ background-color: #dadada; }
.Bg254{ background-color: #e4e4e4; }
.Bg255{ background-color: #eeeeee; }

